<div class="flex align-items-center float-end pagination-controls" {{ stimulus_controller('symfony/ux-swup/swup') }}>
    <select class="form-control pagination-results-per-page-select me-2" disabled
            aria-label="Pagination select number of elements on the page">
        {% for resultsPerPageOption in pagination.resultsPerPageOptions %}
            <option>{{ resultsPerPageOption }}</option>
        {% endfor %}
    </select>
    <input type="number" disabled class="form-control pagination-input me-2" aria-label="pagination-input"
           value="{{ pagination.pageNumber }}" min="1" max="{{ pagination.pagesCount }}">
    / <span class="ms-2 me-2">{{ pagination.pagesCount }}</span>
    {% if pagination.previousPage %}
        <a href="{{ firstPageUrl }}">
            <i class="fa-solid fa-angles-left pagination-icon"></i>
        </a>
        <a href="{{ previousPageUrl }}">
            <i class="fa-solid fa-chevron-left pagination-icon"></i>
        </a>
    {% else %}
        <a><i class="fa-solid fa-angles-left pagination-icon text-muted"></i></a>
        <a><i class="fa-solid fa-chevron-left pagination-icon text-muted"></i></a>
    {% endif %}
    {% if pagination.nextPage %}
        <a href="{{ nextPageUrl }}">
            <i class="fa-solid fa-chevron-right pagination-icon"></i>
        </a>
        <a href="{{ lastPageUrl }}">
            <i class="fa-solid fa-angles-right pagination-icon"></i>
        </a>
    {% else %}
        <a><i class="fa-solid fa-chevron-right pagination-icon text-muted"></i></a>
        <a><i class="fa-solid fa-angles-right pagination-icon text-muted"></i></a>
    {% endif %}
</div>