<div class="table-responsive" id="swup">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Identifier</th>
                <th>Product</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination.results %}
                <tr>
                    <td>{{ loop.index + ((pagination.pageNumber - 1) * pagination.resultsPerPage )}}</td>
                    <td>{{ item.identifier }}</td>
                    <td>
                        {% if item.product %}
                            <a href="{{ path('app_product_show', {'id': item.product.id}) }}"
                               class="text-decoration-none" target="_blank">
                                {{ item.product.name }}
                            </a>
                        {% else %}
                            Brak przypisanego produktu
                        {% endif %}
                    </td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ include ("shared/pagination/_swup_widget.html.twig", {
        pagination: pagination,
        firstPageUrl: path('app_warehouse_leaf_items_table', {node: node.id, page: 1}),
        previousPageUrl: path('app_warehouse_leaf_items_table', {node: node.id, page: pagination.previousPage}),
        nextPageUrl: path('app_warehouse_leaf_items_table', {node: node.id, page: pagination.nextPage}),
        lastPageUrl: path('app_warehouse_leaf_items_table', {node: node.id, page: pagination.pagesCount}),
    }) }}
</div>