{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-md-center p-2">
            <div class="card col-md-10">
                <div class="card-body">
                    <h1 class="mb-4">{{ 'registration'|trans|raw }}</h1>
                    {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.username) }}
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control mt-1'}}) }}
                            <div class="error-msg mt-2">
                                {{ form_errors(registrationForm.username) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mt-1'}}) }}
                            <div class="error-msg mt-2">
                                {{ form_errors(registrationForm.email) }}
                            </div>
                        </div>
                        <div class="mb-2">
                            {{ form_label(registrationForm.password.first) }}
                            {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control mt-2 mb-2'}}) }}
                            <div class="error-msg mt-2">
                                {{ form_errors(registrationForm.password.first) }}
                            </div>
                        </div>
                        <div class="mb-2">
                            {{ form_label(registrationForm.password.second) }}
                            {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control mt-2 mb-2'}}) }}
                            <div class="error-msg mt-2">
                                {{ form_errors(registrationForm.password.second) }}
                                {{ form_errors(registrationForm) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.agreeTerms) }}
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <button type="submit" class="btn btn-primary">{{'register_button'|trans|raw}}</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
