{% for row in treeElements|batch(4) %}
    <div class="row">
        {% for node in row %}
            <div class="col-xs-12 col-sm-6 col-md-3 warehouse-structure-card">
                <div class="card-materialize">
                    <div class="card-materialize-stacked">
                        <div class="card-materialize-content text-center">
                            <h4 class="text-center">{{ node.name }}</h4>
                            <div>
                                {% if node.isLeaf %}
                                    <button class="btn btn-outline-success warehouse-open-button mb-1"
                                            data-endpoint="{{ path('app_warehouse_leaf_open', {id: node.id}) }}">
                                        Otwórz
                                    </button>
                                    <button class="btn btn-outline-secondary warehouse-unset-as-leaf-button mb-1"
                                            data-nodeId="{{ node.id }}"
                                            data-endpoint="{{ path('app_warehouse_leaf_unset', {id: node.id}) }}">
                                        Zmień na węzeł
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-success warehouse-open-button mb-1"
                                            data-nodeId="{{ node.id }}"
                                            data-endpoint="{{ path('app_warehouse_structure_open', {id: node.id}) }}">
                                        Otwórz
                                    </button>
                                    <button class="btn btn-outline-info warehouse-set-as-leaf-button mb-1"
                                            data-endpoint="{{ path('app_warehouse_leaf_set', {id: node.id}) }}"
                                            data-nodeId="{{ node.id }}">
                                        Ustaw jako pojemnik
                                    </button>
                                {% endif %}
                            </div>
                            <div>
                                <button class="btn btn-outline-warning warehouse-block-button mb-1">Zablokuj</button>
                                <button class="btn btn-outline-danger warehouse-delete-button mb-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}