{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/warehouse/structure.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3 mb-5">
        <div id="warehouse-nodes-grid-display-container">
            {{ render(controller('App\\Warehouse\\Controller\\WarehouseStructureController::openRoot')) }}
        </div>
        <div id="warehouse-new-form-container">
            {{ render(controller('App\\Warehouse\\Controller\\WarehouseStructureController::new')) }}
        </div>
    </div>
    <input type="hidden" id="warehouse-structure-new-form-endpoint" value="{{ path('app_warehouse_structure_new') }}">
    <input type="hidden" id="warehouse-structure-open-root-endpoint" value="{{ path('app_warehouse_structure_open_root') }}">
    <input type="hidden" id="warehouse-structure-open-endpoint" value="{{ path('app_warehouse_structure_open', {'id': 'nodeId'}) }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/warehouse/warehouse_structure.js') }}"></script>
    <script type="module" src="{{ asset('assets/js/warehouse/warehouse_leaf.js') }}"></script>
    <script type="module" src="{{ asset('assets/js/warehouse/event_listeners_manager.js') }}"></script>
{% endblock %}