<div class="card">
    <div class="card-body">
        {{ form_start(form, {'attr': {'id': 'warehouse-structure-form'}}) }}
            <div class="mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr':
                    {'class':
                        'form-control mt-2',
                        'maxlength': 2,
                        'pattern': '[A-Z0-9]{1,2}'
                    }})
                }}
                {{ form_errors(form.name) }}
            </div>
            <button class="btn btn-outline-success">{{ button_label|default('save')|trans|raw }}</button>
        {{ form_end(form) }}
    </div>
</div>