{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% import _self as formMacros %}

{% macro printParameterRow(form) %}
    <div class="row mb-3">
        <div class="col">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control mt-2'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col">
            {{ form_label(form.value) }}
            {{ form_widget(form.value, {'attr': {'class': 'form-control mt-2'}}) }}
            {{ form_errors(form.value) }}
        </div>
    </div>
{% endmacro %}

{% block body %}
    <div class="container-fluid mt-4 pe-4 px-4">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {'id': 'product-form'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control mt-2'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control mt-2'}}) }}
                    </div>
                    <div class="row g-3">
                        <div class="col mb-3">
                            {{ form_label(form.auctionPrice) }}
                            {{ form_widget(form.auctionPrice, {'type': 'number', 'attr': {'class': 'form-control mt-2'}}) }}
                        </div>
                        <div class="col mb-3">
                            {{ form_label(form.buyNowPrice) }}
                            {{ form_widget(form.buyNowPrice, {'type': 'number', 'attr': {'class': 'form-control mt-2'}}) }}
                        </div>
                        <div class="col mb-3">
                            {{ form_label(form.saleType) }}
                            {{ form_widget(form.saleType, {'attr': {'class': 'form-control mt-2'}}) }}
                        </div>
                    </div>
                    <div class="row" id="product-parameters-collection-holder">
                        <div class="col mb-3">
                            <span id="product-parameters-collection-prototype-holder"
                                  data-index="{{ form.parameters|length > 0 ? form.parameters|last.vars.name + 1 : 0 }}"
                                  data-prototype="{{ formMacros.printParameterRow(form.parameters.vars.prototype)|e('html_attr') }}"
                            ></span>
                            <button type="button" class="btn btn-success add_item_link"
                                    data-collection-holder-id="product-parameters-collection-holder"
                                    data-prototype-holder="product-parameters-collection-prototype-holder">
                                Add a parameter
                            </button>
                        </div>
                    </div>
                    {{ form_row(form.parameters) }}
                    <button class="btn btn-outline-success">{{ button_label|default('save')|trans|raw }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-outline-info mt-3" href="{{ path('app_product_index') }}">{{ 'back_to_list'|trans|raw }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/product/product_parameter.js') }}"></script>
{% endblock %}
