{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/product/product.css') }}">
{% endblock %}

{% block body %}
<article class="container-fluid mt-4 pe-4 px-4 mb-4">
    <h1>{{ product.name }}</h1>
    <hr>
    <section class="mb-4">
        <h3 class="mb-4">{{ "pictures"|trans|capitalize }}</h3>
        <div class="row">
            {% for picture in product.productPictures %}
                <div class="col">
                    <img src="{{ asset('assets/images/product_pictures/'~picture.path) }}"
                         class="img-fluid product-show-action-picture" alt="Product Picture">
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section class="mb-4">
        <h3 class="mb-4">{{ "Description"|trans|capitalize }}</h3>
        <p>{{ product.description }}</p>
    </section>
    <hr>
    <section class="mb-4">
        <h3 class="mb-4">{{ "parameters"|trans|capitalize }}</h3>
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Waga</td>
                    <td>100 kg</td>
                </tr>
                <tr>
                    <td>Kolor</td>
                    <td>Niebieski</td>
                </tr>
            </tbody>
        </table>
    </section>
    <hr>
    <section class="mb-4">
        <h3 class="mb-4">{{ "other_information"|trans|capitalize }}</h3>
        <div class="row">
            <div class="col">
                {{ "Auction price"|trans|capitalize }}: {{ product.auctionPrice }}
            </div>
            <div class="col">
                {{ "Buy now price"|trans|capitalize }}: {{ product.buyNowPrice }}
            </div>
            <div class="col">
                {{ "Sale type"|trans|capitalize }}: {{ saleCases[product.saleType].name|trans }}
            </div>
            <div class="col">
                {{ "created_at"|trans|capitalize }}: {{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}
            </div>
        </div>
    </section>
    <a class="btn btn-outline-info mt-4" href="{{ path('app_product_index') }}">{{ 'back_to_list'|trans|raw }}</a>
</article>
{% endblock %}
